/* .rc-slider-rail {
  height: 8px;
}

.rc-slider-track {
  background-color: transparent;
} */

/* .rc-slider-handle, 
.rc-slider-handle:active,
.rc-slider-handle:focus,
.rc-slider-handle:hover {
  background-color: turquoise;
  outline: none;
  border: 1px solid turquoise;
  box-shadow: none;
  width: 12px;
  height: 12px;
  margin-top: -2px;
  margin-left: -7px;
} */

/* .select-container {
  margin-left: auto;
  margin-right: 1rem;
} */
